{% extends "shortener/base.html" %}
{% block title %}URL Shortener{% endblock %}
{% block main %}
<section id="urlbox">
    <h1>Paste the URL to be shortened</h1>
    <form action="." method="post">
        {% csrf_token %}
        <div id="formurl">
            {{ form.as_p }}
            <div id="formbutton">
                <input type="submit" value="Shorten URL">
            </div>
        </div>
    </form>
    <p class="boxtextcenter">ShortURL is a free service to shorten URLs and create short links</p>
</section>
{% endblock %}