{% extends "shortener/base.html" %}
{% load static %}
{% block title %}Shortened URL{% endblock %}
{% block main %}
<main>
<section id="content">
<h1>Your shortened URL</h1>
<p>Copy the shortened link and share it in messages, texts, posts, websites and other locations.</p>
</section>
<script type="text/javascript">
function copy_to_clipboard() {
     const text_node = document.getElementById('shortenurl')
     navigator.clipboard.writeText(text_node.value);
     const e = document.getElementById('balloon');
     if(e.style.display == "none")
        e.style.display = "table";
}
</script>
<section id="urlbox">
<br><br>
<div id="formurl" style="max-width: 400px;">
<input id="shortenurl" type="text" value="{{ request.get_host }}/{{ object.shortcode }}" onclick="this.select();" readonly>
<div id="formbutton">
<input type="button" value="Copy URL" onclick="copy_to_clipboard();">
</div>
</div>
<div id="formurl" style="max-width: 400px; display: block;">
<div id="balloon" style="display: none;">URL Copied</div>
</div>
<p class="boxtextleft">Long URL: <a href="{{ object.url }}" target="_blank">{{ object.url }}</a><br><br>
    This shortened URL is click {% if object.clickevent.count %} <strong>{{ object.clickevent.count }}</strong>  times {% else %} <strong>0</strong> times {% endif %}
</p>
<p class="boxtextleft"><a href="/" class="colorbutton">Create other shortened URL</a></p>
</section>
</main>
{% endblock %}